/* Reset/Normalize CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

p,h1,h2,h3{
  margin: 0;
  padding: 0;
}

/* Layout */
body {
  background-color: #0e1324;
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
}



/* Report Container */
.report--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px 20px;
  background-color: #1b1f4a;
  border-radius: 20px;
  height: 215px;
  width: auto;
}

/* Report Sections */
#report--top,
#report--bottom {
  display: flex;
  align-items: center;
  padding: 25px;
  width: 100%;
  border-radius: 20px;
}

#report--top {
  flex-basis: 65%;
  background-color: #5747ea;
}

#report--bottom {
  flex-basis: 35%;
  flex-direction: row;
  justify-content: space-between;
}

/* Report Elements */
.report--person__image {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
}

.report--header__text {
  color: white;
  width: 100%;
}

.report--header__text>p {
  opacity: 50%;
}

#report--person__name {
  font-weight: 400;
  opacity: 1;
  font-size: 1.5rem;
}

.report--bottom__btn {
  font-size: 1.2rem;
  opacity: 50%;
  width: 25%;
  color: white;
  background-color: transparent;
  border: none;
}

.report--bottom__btn:focus {
  opacity: 1;
}

/*Category Component*/

/* Category Container */
.category--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px 20px;
  border-radius: 20px;
  height: 175px;
  width: auto;
}

.category--top,
.category--bottom{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 101%;
}

.category--top{
  flex-basis: 20%;
  justify-content: flex-end;
  
  border-radius: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.category--bottom{
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background-color: #1b1f4a;
}

.category--bottom__top,
.category--bottom__bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  flex-basis: 50%;
}

.category--bottom__bottom>p{
  font-size: .8rem;
  opacity: 0.5;
}

.category--bottom__top{
  font-size: 1.1rem;
}

.ellipsis{
  width: 20px;
}

.category--top__icon{
  position:absolute;
  top: -11px;
  z-index: 0;
}

#current--time{
  font-size: 2.0rem;
  opacity: 1;
}


/* Media Queries */
@media (min-width: 576px) {
  /* Styles for larger screens */

  .report--container {
    width: 300px;
    height: 600px;
  }

  #report--top,
  #report--bottom {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  #report--top {
    flex-basis: 70%;
    /* Added % to make the unit consistent */
  }

  .report--person__image {
    margin-bottom: 40px;
  }

  #report--bottom {
    flex-basis: 30%;
  }

  #report--person__name {
    font-size: 3.0rem;
  }

  .report--bottom__btn {
    text-align: left;
  }
}